<h1>Underground Sounds</h1>

<div class="row">
<div class="small-6 small-aligned columns">

<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Description</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= link_to track.user.first_name, track.user %></td>
        <td><%= track.description %></td>
        <td><%= track.song %></td>
        <td><%= link_to 'Show', track %></td>
        <% if can? :modify, track %>
          <td><%= link_to 'Edit', edit_track_path(track) %></td>
          <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_track_path %> 
</div>
</div>
