  <div class="intro">
    <h1>UnderGround</h1>
    <h3>Underground the app for upcoming producers who want to showcase their work<br>Want To See More<br> Then Enter the underground</h3>
    <%= button_to('Enter The Underground', new_user_session_path)  %>  
  </div>
<% if user_signed_in? %>
    <li>
      <%= image_tag(current_user.image) %>
      <%= link_to "#{current_user.try(:first_name)} Hubb", user_path(current_user) %>
      <% @user.tracks.each do |track| %>
        <%= track.name %>
        <%= audio_tag(track.song, controls: true ) %>
      <% end %>
    </li>
  <% else %>
<% end %>