%h1 UnderGround
%p Underground The Place For Producers To Showcase Their Work
- if user_signed_in?
  %li
    = image_tag(current_user.image)
    = link_to "#{current_user.try(:first_name)} Hubb", user_path(current_user)
    - @user.tracks.each do |track|
      = track.name
      = audio_tag(track.song, controls: true )
- else
  %li
    = link_to('Login', new_user_session_path)